---
---

@import 'variables';

#history-timeline {
	display: flex;
	padding: 5vh 3vw;

	.history-milestone {
		flex: 1 0 0;
		border-bottom: 1px solid $border-grey;

		&:last-child {
			border-bottom: 2px dotted $border-grey;
		}

		&:before {
			content: '';
			border: 2px solid $dark-teal;
			bottom: -10px;
		}

		&.selected {
			color: $dark-teal;
			font-weight: 900;

			&:before {
				border-color: $light-teal;
			}
		}
	}
}