---
---

// todo: add mixins for transitions

@import 'variables';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Nanum Gothic', sans-serif;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

section {
	padding: 6vh 12vw 5vh 12vw;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	span {
		color: $bright-teal;
	}
}

@mixin underlined($color) {
	background: linear-gradient(to top, $color, $color, 100%,transparent 100%,transparent);
	background-size: 100% 30%;
	background-position: center 100%;
	background-repeat: no-repeat;
	transition: 0.3s all ease;

	&:hover {
		background-size: 100% 100%;
	}
}

.teal-underlined {
	@include underlined($translucent-teal);
}

.centered-section {
	h1 {
		text-align: center;
		margin: 5vh 0 3vh auto;
		font-weight: 900;
	}
}

// section dividers
hr {
	background: $light-teal;
	border: none;
	width: 10vw;
	height: 3px;
}

p {
	color: $text-grey;
	line-height: 25px;
	margin: 10px 0;
}

img {
	height: auto;
}

.button {
	height: 30px;
	min-width: 40px;
	background: $light-teal;
	color: white;
	border: none;
	transition: 0.3s all ease;
	font-size: 1vw;
	padding: 1vh 1vw;

	&:hover {
		background: $dark-teal;
	}
}

/*
Keeping a separate scss file for each _includes file
*/

@import 'nav.css';
@import 'footer.css';
@import 'page-intro.css'; // for all intro files

@import 'index-header.css';
@import 'index-intro.css';

@import 'about-member-list.css';
@import 'about-history-timeline.css';

@import 'projects-project-list.css';
@import 'projects-methodology.css';

@import 'campus-initiatives.css';

@import 'contact-form.css';