---
---

@import 'variables';

.campus-initiative-list {

	.initiative-section {
		padding: 3vw;
		display: flex;
	}

	img {
		width: 50%;
		height: 200px;
	}

	.initiative-info {
		padding: 0 3vw;
	}
}

@media screen and (max-width: 900px) {
	.campus-initiative-list {
		.initiative-section {
			display: block;
			img {
				width: 100%;
			}
			.initiative-info {
				padding: 0;
				h3 {
					margin: 10px 0;
				}
			}
		}
	}
}