---
---

@import 'variables';

footer {

	#footer-content {
		padding: 5vh 3vw;
		background: $light-teal;

		img { // logo
			width: 30px;
		}
	}

	#bottom-bar {
		background: $dark-teal;
		height: 30px;
	}
}