---
---

@import 'variables';

#index-header {
	background: $light-teal;
	color: white;
	padding: 20vh 3vw;
	margin-bottom: 10vh;

	header {
		width: 60vw;
		h1 {
			font-size: 5vw;
			padding-bottom: 3vh;
		}
	}
}

@media screen and (max-width: 900px) {
	#index-header {
		padding: 5vh 5vw;
	}
}