---
---

@import 'variables';

#index-intro {
	display: flex;

	.index-intro-col {
		flex: 1;
	}

	#index-intro-left {
		text-align: right;
		
		h2 {
			margin-bottom: 3vw;
		}

		.card {
			margin-right: 0;
		}
	}

	#index-intro-right {
		text-align: left;
	}

	.card {
		margin: 0 3vw 3vw 3vw;
		padding: 4vw 3vw 2vw 3vw;
		border: 1px solid $border-grey;;

		img {
			width: 100px;
			margin: 0 auto;
			margin-bottom: 1vw;
		}

		h2 {
			color: $dark-teal;
		}

		p {
			font-size: 1.5vw;
		}
	}

	#link-div {
		margin: 0 3vw 3vw 3vw;
	}
}

@media screen and (max-width: 900px) {
	#index-intro {
		display: block;

		#index-intro-left {
			text-align: left;
		}

		.card {
			text-align: left;
			margin: 30px 0;
		}
	}
}