---
---

@import 'variables';

#index-intro {
	display: flex;

	.index-intro-col {
		flex: 1;
	}

	#index-intro-left {
		text-align: right;
		
		> h2 {
			margin-bottom: 3vw;
		}

		.card {
			margin-right: 0;
			a {
				margin-left: 15px;
			}
		}
	}

	#index-intro-right {
		text-align: left;
		.card {
			a {
				margin-right: 15px;
			}
		}
	}

	.card {
		margin: 0 3vw 3vw 3vw;
		padding: 0 3vw 2vw 3vw;
		border: 1px solid $border-grey;
		box-shadow: 0px 4px 7px 0px rgba($border-grey, 0.9);

		small {
			color: $text-grey;
			display: block;
			text-transform: uppercase;
			margin: 30px 0 30px 0;
			font-weight: 700;
		}

		img {
			margin: 0 auto;
			margin-bottom: 1vw;
		}

		a {
			font-size: 0.8em;
		}
	}

	#link-div {
		margin: 0 3vw 3vw 3vw;
	}
}

@media screen and (max-width: 900px) {
	#index-intro {
		display: block;

		#index-intro-left {
			text-align: left;
		}

		.card {
			text-align: left;
			margin: 30px 0;
		}
	}
}