---
---

@import 'variables';

body.nav-open {
	overflow: hidden;
}

nav {
	background: $light-teal;
	color: white;
	padding: 1vw;

	.logo img {
		width: 50px;
	}

	.nav-toggle {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
		font-size: 25px;
		margin: 15px 10px;
	}

	ul {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		margin: 10px 0;
		line-height: 50px;
		li {
			display: inline-block;
			margin: 0 30px;
		}
	}
}

#nav-screen {
	// position
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;

	// style
	text-align: center;
	padding: 3vw;
	background: $light-teal;
	color: white;
	ul {
		font-size: 3vw;
		padding: 0;
		list-style: none;
		li {
			margin: 5vh 0;
		}
	}

	// visibility
	display: none;

	&.visible {
		display: block;
	}
}

@media screen and (max-width: 900px) {
	nav {
		ul {
			display: none;
		}
		.nav-toggle {
			display: block;
		}
	}
}