---
---

@import 'variables';

#page-intro {
	display: flex;

	.page-intro-col {
		padding: 3vw;
		h2, p:not(:last-child){
			margin-top: 0;
			margin-bottom: 8vh;
		}
	}

	#page-intro-left {
		flex: 3 0 0;
		
		h1 {
			margin-bottom: 3vw;
		}

		.card {
			margin-right: 0;
		}
	}

	#page-intro-right {
		text-align: left;
		flex: 1 0 0;
		a {
			display: block;
			margin: 10px 0;
			span {
				color: $bright-teal;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	#page-intro {
		display: block;
	}
}