---
---

@import 'variables';

#project-methodology {
	.item {
	  display: flex;
	  max-width: 1000px;
	  margin: 0 auto;
	  
	  .image {
	    padding: 1em 2em;
	    
	    > div {
	      position: relative;
	      text-align: center;
	      font-size: 0.8em;

	      &::after {
	        content: '';
	        width: 100%;
	        height: 0;
	        border-bottom: 1px solid $border-grey;
	        position: absolute;
	        top: 2.75em;
	        left: 2.5em;
	        z-index: -1;
	      }
	    }
	    
	    .icon {
	      border-radius: 50%;
	      height: 5em;
	      line-height: 6em; // height + half of i font size
	      width: 5em;
	      color: white;
	      padding: 0;
	      display: inline-block;
	      background: $light-teal;
	      i {
	      	font-size: 2em;
	      }
	    }
	    .time {
	      display: block;
	      clear: both;
	      padding: 0.25em 0;
	      margin: 0.5em 0;
	    }
	  }
	  
	  .details {
	    position: relative;
	    flex-grow: 1;

	    > div {
	      border: 1px solid $border-grey;
	      border-radius: 0.5em;
	      padding: 1.5em;
	      margin: 1em 0;
	      
	      h2 {
	        color: $light-teal;
	        font-size: 1.4em;
	        margin: 0;
	        padding: 0 0 0.5em 0;
	        letter-spacing: 0.1em;
	      }
	      
	      p {
	        margin: 0;
	        padding: 0;
	        line-height: 150%;
	      }
	    }

	    &::before {
	      content: '';
	      width: 0;
	      height: 100%;
	      border-left: 1px solid $border-grey;
	      position: absolute;
	      top: 0;
	      left: -4.35em;
	      z-index: -1;
	    } 
	  }
	}
}

@media screen and (max-width: 900px) {
	#project-methodology {
		.item {
			display: block;
			width: 90%;
			margin: 0 auto;

			.image {
				width: 80%;
				margin: 0 auto;
				> div:after {
					left: 0;
					width: 100%;
				}
			}
		}
	}
}