---
---

@import 'variables';

#projects-intro {
	display: flex;

	.projects-intro-col {
		padding: 3vw;
		h2, p:not(:last-child){
			margin-top: 0;
			margin-bottom: 8vh;
		}
	}

	#projects-intro-left {
		flex: 2 0 0;
		
		h1 {
			font-size: 3vw;
			margin-bottom: 3vw;
		}

		.card {
			margin-right: 0;
		}
	}

	#projects-intro-right {
		text-align: left;
		flex: 1 0 0;
	}

	.card {
		padding: 4vw 3vw 2vw 3vw;
		margin: 0 3vw 3vw 3vw;
		border: 1px solid grey;

		img {
			width: 100px;
			margin: 0 auto;
			margin-bottom: 1vw;
		}

		h2 {
			color: $dark-teal;
		}

		p {
			font-size: 1.5vw;
		}
	}
}