<section id="page-intro">
	<div class="page-intro-col" id="page-intro-left">
		<h1>
			<span class="teal-underlined">Contact Us</span>
		</h1>
		<p>
			Feel free to enquire about potential partnership opportunities. If you're looking to join our club, find out more information about our process <a href="{{ site.baseurl }}/join-us.html" class="teal-underlined">here.</a>
		</p>
	</div>

	<div class="page-intro-col" id="page-intro-right">
		<ul>
			<li><a href=""><i class="fas fa-envelope"></i> cmuucc@gmail.com</a></li>
			<li><a href=""><i class="fab fa-facebook"></i> /cmuucc</a></li>
		</ul>
	</div>
</section>