---
layout: default
title: "Home"

heading: CMU Undergraduate Consulting Club
subheading: Some slogan here

intro_heading: UCC is the organization behind all things consulting at Carnegie Mellon.

card1_heading: Some content here.
card1_subheading: And some here too.

card2_heading: Some content here.
card2_subheading: And some here too.

card3_heading: Some content here.
card3_subheading: And some here too.

card4_heading: Some content here.
card4_subheading: Some content here

about_link_text: Come check out who we are.

---

{% include index/header.html %}
{% include index/intro.html %}