<section id="projects-intro">
	<div class="projects-intro-col" id="projects-intro-left">
		<h1>
			<span class="teal-underlined">This is the projects page.</span>
		</h1>
		<h2>
			I'll describe the shit here. I'll describe the shit here.
		</h2>
		<h2>
			I'll describe the shit here. I'll describe the shit here. I'll describe the shit here. I'll describe the shit here.
		</h2>
	</div>
	<div class="projects-intro-col" id="projects-intro-right">
		<p>
			Some small text to give more details about the shit. Some small text to give more details about the shit. Some small text to give more details about the shit. Some small text to give more details about the shit.
		</p>
		<p>
			Some small text to give more details about the shit. Some small text to give more details about the shit. Some small text to give more details about the shit. Some small text to give more details about the shit.
		</p>
	</div>
</section>