<div id="project-methodology" class="centered-section">
  <h2>
    <span class="teal-underlined">Methodology</span>
  </h2>
  {% for step in site.data.project_methodology.steps %}
    <div class="item">
      <div class="image">
        <div>
          <span class="icon">
            <i class="{{ step.icon }}"></i>
          </span>
          <span class="time">
          {{ step.time }}
          </span>
        </div>
      </div>
      <div class="details">
        <div>
          <h2>{{ step.title }}</h2>
          <p>{{ step.blurb }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>