<div id="project-methodology" class="centered-section">
  <h2>
    <span class="teal-underlined">Methodology</span>
  </h2>
  {% for step in site.data.project_methodology.steps %}
    <div class="item">
      <div class="image">
        <div>
          <span class="icon">
            <i class="fab fa-angellist"></i>
          </span>
          <span class="time">
          09.12.2016
          </span>
        </div>
      </div>
      <div class="details">
        <div>
          <h2>Phasellus pharetra</h2>
          <p>Proin condimentum tempus ultrices. Suspendisse vestibulum suscipit erat, ac efficitur lorem. Nullam non ex vel turpis imperdiet maximus sit amet nec odio. Donec mauris nisl, vestibulum id efficitur at, convallis id dui. Sed enim nisl, ultrices vitae sodales eu, vestibulum a mi. Morbi consectetur pulvinar sagittis. Phasellus pharetra diam id leo gravida pharetra. In rutrum est gravida, maximus mi ac, mattis metus. Ut at tempus sem. Vivamus condimentum erat eget aliquet dignissim. </p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>