<!-- todo: create modals or separate pages for more project details -->

{% assign projects = site.projects | where: "status", include.status %}

<section id="{{ include.status }}-project-list" class="project-list">
	<div class="project-list-col project-list-left">
		<h2>
			<span class="teal-underlined">{{ include.status | capitalize }} Projects</span>
		</h2>
	</div>
	<div class="project-list-col project-list-right">
		{% for project in projects %}
				<div class="project">
					<div class="img-container">
						<img src="{{ site.baseurl }}/img/projects/{{ project.name }}.png">
					</div>
					<div class="project-info">
						<h3>{{ project.name }}</h3>
						<p>
							{{ project.about | markdownify }}
						</p>
						<a href="{{ site.baseurl }}/{{ project.url }}">View Details <span>>></span></a>
					</div>
				</div>
		{% else %}
			<p>
				The club is currently not working on any projects.
				<a href="{{ site.baseurl }}/contact.html" class="teal-underlined">Work with us!</a>
			</p>
		{% endfor %}
	</div>
</section>