<section id="project-list">
	<div class="project-list-col project-list-left">
		<h2>
			<span class="teal-underlined">Current Projects</span>
		</h2>
	</div>
	<div class="project-list-col project-list-right">
		<div class="project">
			<img src="{{ site.url }}/img/logo_teal.png">
			<div class="project-info">
				<h3>Project Name</h3>
				<p>
					Some description
				</p>
			</div>
		</div>
		<div class="project">
			<img src="{{ site.url }}/img/logo_teal.png">
			<div class="project-info">
				<h3>Project Name</h3>
				<p>
					Some description
				</p>
			</div>
		</div>
	</div>
</section>

<hr/>

<section id="project-list">
	<div class="project-list-col project-list-left">
		<h2>
			<span class="teal-underlined">Past Projects</span>
		</h2>
	</div>
	<div class="project-list-col project-list-right">
		<div class="project">
			<img src="{{ site.url }}/img/logo_teal.png">
			<div class="project-info">
				<h3>Project Name</h3>
				<p>
					Some description
				</p>
			</div>
		</div>
	</div>
</section>