<section id="project-list">
	<div class="project-list-col project-list-left">
		<h2>
			<span class="teal-underlined">Current Projects</span>
		</h2>
	</div>
	<div class="project-list-col project-list-right">
		{% for project in site.data.project_list.current_projects %}
			<div class="project">
				<img src="{{ site.baseurl }}/img/logo_teal.png">
				<div class="project-info">
					<h3>{{ project.name }}</h3>
					<p>
						{{ project.about }}
					</p>
					<a href="#">View Details >></a>
				</div>
			</div>
		{% endfor %}
	</div>
</section>

<hr/>

<section id="project-list">
	<div class="project-list-col project-list-left">
		<h2>
			<span class="teal-underlined">Past Projects</span>
		</h2>
	</div>
	<div class="project-list-col project-list-right">
		{% for project in site.data.project_list.past_projects %}
			<div class="project">
				<img src="{{ site.baseurl }}/img/logo_teal.png">
				<div class="project-info">
					<h3>{{ project.name }}</h3>
					<p>
						{{ project.about }}
					</p>
					<a href="#">View Details >></a>
				</div>
			</div>
		{% endfor %}
	</div>
</section>