@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

// Some Style Variables
$dark-teal: #1A6472;
$light-teal: #4A9794;
$bright-teal: #07C9C1;
$translucent-teal: #a9d5d3;

$text-grey: #888;
$border-grey: #ddd;