<!-- todo: modals or separate pages for initiatives -->

<section class="campus-initiative-list">
	{% for initiative in site.initiatives %}

		<div id="{{ initiative.name }}" class="initiative-section">
			<img src="{{ site.baseurl }}/img/initiatives/{{ initiative.name }}.png"
					 alt="{{ initiative.name }}" />
			<div class="initiative-info">
				<h3>
					<span class="teal-underlined">
						{{ initiative.name }}
					</span>
				</h3>
				<p>{{ initiative.blurb }}</p>
				<a href="{{ initiative.url }}">
					<span>>></span> View Details
				</a>
			</div>
		</div>

	{% endfor %}
</section>