<section id="page-intro">
	<div class="page-intro-col" id="page-intro-left">
		<h1>
			<span class="teal-underlined">UCC at CMU</span>
		</h1>
		<h2>
			UCC strives to extend its impact to the general student body of Carnegie Mellon.
		</h2>
		<p>
			From monthly workshops and company events to annual events, UCC continuously engages the student body throughout the year.
		</p>
	</div>

	<div class="page-intro-col" id="page-intro-right">
		{% for initiative in site.data.campus_initiative_list.initiatives %}

			<a href="#{{ initiative.name }}">
				<span>>></span> {{initiative.name }}
			</a>

		{% endfor %}
	</div>
</section>