<section id="index-intro">
	<div class="index-intro-col" id="index-intro-left">
		<h2>
			UCC is the organization behind all things consulting at Carnegie Mellon.
		</h2>
		<div class="card">
			<small>for recruiters</small>
			<img src="{{ site.baseurl }}/img/home/event.png">
			<h3>Host an event</h3>
			<p>
				UCC frequently works with consulting companies to co-host recruiting events on campus. Find out what we can do for you.
			</p>
			<a href="{{ site.baseurl }}/initiatives/Consulting Week">
				<span>>></span> Consulting Week
			</a>
		</div>
		<div class="card">
			<small>for other schools</small>
			<img src="{{ site.baseurl }}/img/home/partner.png">
			<h3>Partner with us</h3>
			<p>
				CMU UCC often connects with and attends events at other universities. 
			</p>
			<a href="{{ site.baseurl }}/contact">
				<span>>></span> Connect with us
			</a>
		</div>
	</div>
	<div class="index-intro-col" id="index-intro-right">
		<div class="card">
			<small>for partners</small>
			<img src="{{ site.baseurl }}/img/home/work.png">
			<h3>Work with us</h3>
			<p>UCC works with 1-2 businesses and non-profits every year to provide professional value to various business problems. Be the next organization to work with us.</p>
			<a href="{{ site.baseurl }}/projects.html">
				<span>>></span> How we work
			</a>
			<a href="{{ site.baseurl }}/contact">
				<span>>></span> Connect with us
			</a>
		</div>
		<div class="card">
			<small>for students</small>
			<img src="{{ site.baseurl }}/img/home/learn.png">
			<h3>Interested in consulting?</h3>
			<p>
				Learn more about what we do, and join us.
			</p>
			<a href="{{ site.baseurl }}/about">
				<span>>></span> About Us
			</a>
			<a href="{{ site.baseurl }}/apply">
				<span>>></span> Apply
			</a>
			<a href="{{ site.baseurl }}/campus#Consulting Academy">
				<span>>></span> Consulting Academy
			</a>
		</div>
		<div id="link-div">
			<a href="{{ site.baseurl}}/about.html" class="teal-underlined">
				Come check out who we are. &#8594;
			</a>
		</div>
	</div>
</section>