<section id="index-intro">
	<div class="index-intro-col" id="index-intro-left">
		<h1>
			We're the consulting club at Carnegie Mellon.
		</h1>
		<div class="card">
			<img src="{{ site.baseurl }}/img/logo_teal.png">
			<h2>Some content here.</h2>
			<p>And some here too.</p>
		</div>
		<div class="card">
			<img src="{{ site.baseurl }}/img/logo_teal.png">
			<h2>Some content here.</h2>
			<p>And some here too.</p>
		</div>
	</div>
	<div class="index-intro-col" id="index-intro-right">
		<div class="card">
			<img src="{{ site.baseurl }}/img/logo_teal.png">
			<h2>Some content here.</h2>
			<p>And some here too.</p>
		</div>
		<div class="card">
			<img src="{{ site.baseurl }}/img/logo_teal.png">
			<h2>Some content here.</h2>
			<p>And some here too.</p>
		</div>
		<div id="link-div">
			<a href="{{ site.baseurl}}/about.html" class="teal-underlined">
				Come check out who we are. &#8594;
			</a>
		</div>
	</div>
</section>