<section id="executive-board" class="centered-section org-description">
	<h2>
		<span class="teal-underlined">
			What We Do
		</span>
	</h2>
	<div id="ucc-intro">
		<div class="what-we-do-item">
			<div class="img-container">
				<img src="{{ site.baseurl }}/img/about/casing.png">
			</div>
			<h3>Casing</h3>
			<p>
				UCC has a repository of resources to help members with casing. Members also meet up to help each other practice.
			</p>
		</div>
		<div class="what-we-do-item">
			<div class="img-container">
				<img src="{{ site.baseurl }}/img/about/prep.png">
			</div>
			<h3>Interview Prep</h3>
			<p>
				Members have experience interviewing at dozens of firms. We share our experience to help future interviewees.
			</p>
		</div>
		<div class="what-we-do-item">
			<div class="img-container">
				<img src="{{ site.baseurl }}/img/about/networking.png">
			</div>
			<h3>Networking</h3>
			<p>
				UCC coordinates company events and networks with both TCC and UCC alumni.
			</p>
		</div>
		<div class="what-we-do-item">
			<div class="img-container">
				<img src="{{ site.baseurl }}/img/about/probono.png">
			</div>
			<h3>Probono Consulting</h3>
			<p>
				UCC works with 1-2 organizations every year, emphasizing the delivery of top-tier processes and quality.
			</p>
		</div>
		<div class="what-we-do-item">
			<div class="img-container">
				<img src="{{ site.baseurl }}/img/ca_logo.png">
			</div>
			<h3>Consulting Academy</h3>
			<p>
				UCC interacts with the community by hosting events through Consulting Academy. Find out more below.
			</p>
		</div>
	</div>
</section>