<section id="page-intro">
	<div class="page-intro-col" id="page-intro-left">
		<h1>
			<span class="teal-underlined">We are the organization behind all things consulting at Carnegie Mellon.</span>
		</h1>
		<img src="{{ site.baseurl }}/img/about.jpg">
		<h2>
			Founded in _, UCC is the <b>only</b> consulting-focused organization at Carnegie Mellon. 
		</h2>
		<p>
			From helping companies organize recruitment events to working with local organizations, UCC has a broad range of involvement both within Carnegie Mellon and the Pittsburgh community.
		</p>
	</div>

	<div class="page-intro-col" id="page-intro-right">
		<a href="#member-list"><span>>></span> Our Team</a>
		<a href="#history"><span>>></span> Our History</a>
		<a href="{{ site.baseurl }}/contact.html"><span>>></span> Join Us</a>
	</div>
</section>