<section id="page-intro">
	<div class="page-intro-col" id="page-intro-left">
		<h1>
			<span class="teal-underlined">Founded in 2002, UCC is the organization behind all things consulting at Carnegie Mellon.</span>
		</h1>
		<img src="{{ site.baseurl }}/img/about.jpg">
		<p>
			From helping companies organize recruitment events to working with local organizations, UCC has a broad range of involvement both within Carnegie Mellon and the Pittsburgh community.
		</p>
		<p>
			CMU UCC also manages a sub-organization called the Consulting Academy. Learn more about Consulting Academy <a class="teal-underlined" href="{{ site.baseurl}}/campus.html#consulting-academy">here</a>.
		</p>
	</div>

	<div class="page-intro-col" id="page-intro-right">
		<a href="#member-list"><span>>></span> Our Team</a>
		<a href="#history"><span>>></span> Our History</a>
		<a href="{{ site.baseurl }}/apply.html"><span>>></span> Join Us</a>
	</div>
</section>