<section id="page-intro">
	<div class="page-intro-col" id="page-intro-left">
		<h1>
			<span class="teal-underlined">Join UCC</span>
		</h1>
		<h2>
			Join CA or UCC to stay up to date with consulting related events on campus.
		</h2>
		<p>
			Recruitment for UCC takes place every Fall semester. Join the Consulting Academy or the Undergraduate Consulting Club to stay involved with consulting-related events on campus. Learn more about both organizations below!
		</p>
	</div>

	<div class="page-intro-col" id="page-intro-right">
		<a href="#consulting-academy"><span>>></span> Consulting Academy</a>
		<a href="#executive-board"><span>>></span> Executive Board</a>
		<a href="{{ site.baseurl }}/contact.html"><span>>></span> Contact Us</a>
	</div>
</section>